.header {
  padding: 1rem 0;
  padding-top: 2rem;
  padding-bottom: 8rem;
  border-radius: 0 0 1rem 1rem;
  background-color: var(--cardGray);
}

.header-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-title {
  margin-bottom: 1rem;
}

.header-total {
  color: var(--gray);
  font-weight: 600;
}

hr {
  margin: 2rem 0 0;
  border: solid 1.5px;
  background-color: var(--gray);
}

.button-container {
  text-align: center;
}

.button-name {
  margin-bottom: 0.5rem;
}

@media screen and (min-width: 480px) {
  .button-name {
    font-size: 12px;
  }
}